.nav-link{
    color: white;
    font-size: large;
    font-weight: bold;
    margin-left: 20px;
}
.nav-link:hover{
    color: white;
    font-size: larger;
    background-color: rgb(209, 47, 42);
    border-radius: 4%;
}
.parallax{
    background-image:url(../Photo/8.jpg);
    background-repeat: no-repeat ;
    background-size: cover ;
    background-position: center ;
    background-attachment: fixed;
    height: 100%;
}